.example-spacer {
    flex: 1 1 auto;
}
#header-container {
    background-color: var(--primary);
    color: var(--light);
}
mat-toolbar {
    background-color: transparent !important;
    color: var(--light);
    align-items: center;
}
mat-icon {
    color: var(--light);
}
