<div id="header-container" class="mb-2">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" routerLinkActive="active"><img src="logo.svg" style="margin-top: 5px;" class="ms-xs-1 ms-sm-2 ms-md-4" height="50" alt="Pikka Logo" /></a>
    <span class="example-spacer"></span>
    <a mat-icon-button href="https//:www.linkedin.com/in/oriol-giner">
      <mat-icon>person</mat-icon>
    </a>    
  </mat-toolbar>
  <div style="height: 6px; width: 100%;"></div>
</div>