<div id="form-container">
  <div class="example-form container">
      <mat-form-field class="example-full-width me-1" style="display: flex;">
        <mat-label>Search a receipe you want</mat-label>
        <input [(ngModel)]="input" id="search-input" matInput placeholder="Ex. Chocolate Cake">
        
      </mat-form-field>
      <button (click)="Search()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <!-- <button mat-fab class="ms-2" (click)="Search()" color="primary"><mat-icon>search</mat-icon></button> -->
  </div>
</div>

